@import '../App.module.scss';

.hello {
  background: #ffffff;
  border-radius: 60px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-top: 50px;

  .flag {
    padding: 15px 0;
  }

  .HelloTitle {
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 0;
  }

  .HelloParagraph {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #a9acc4;
  }

  button {
    width: 200px;
    height: 70px;
    background: $blue;
    font-weight: 600;
    font-size: 20px;
    border-radius: 60px;
    margin: 20px 0;
    padding: 10px 0;
    outline: none;

    &:hover {
      background: lighten($blue, 8%);
      transform: translateY(-1px);
    }
  }
}

.Game {
  background: #ffffff;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-top: 100px;

  .GameTitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 15px;
    color: #d3d4da;
  }

  .GameWord {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #42497b;
  }

  .GameInput {
    width: 330px;
    font-size: 32px;
    margin: 10px 0;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    padding: 20px;
    text-align: center;
  }

  .error {
    border: 2px solid red;
    color: red;
  }

  .MainInformation {
    display: flex;
    justify-content: space-evenly;

    .GameRow {
      padding: 10px;
      font-size: 24px;

      .timeLeft {
        color: $blue;
      }

      .words {
        color: $green;
      }
    }
  }
}

.result {
  background: #ffffff;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  margin-top: 100px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      padding: 30px 0 5px 0;
    }

    .text {
      padding: 15px 0;
      font-size: 24px;
      line-height: 150%;
      font-weight: 600;
    }

    .countWords {
      font-size: 48px;
      padding: 5px 0 5px 0;
    }

    .red {
      color: $red;
    }

    .orange {
      color: $orange;
    }

    button {
      width: 305px;
      height: 70px;
      background: $blue;
      font-weight: 600;
      font-size: 20px;
      border-radius: 60px;
      margin: 20px 0;
      padding: 10px 0;
      outline: none;

      &:hover {
        background: lighten($blue, 8%);
        transform: translateY(-2px);
      }
    }
  }
}
